<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unimate</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h2>Welcome to Unimate</h2>
        </div>
        <div id="formFooter">
            <a href="/login" class="fadeIn second">Login</a>
            <br>
            <a href="/register" class="fadeIn third">Sign up</a>
        </div>
    </div>
</div>
</body>
</html>